# environment config
.env*
!.env.example
# TODO: Omit
!.env.e2e

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
src/identity-react/build
src/silid-server/build/**

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vim clutter
*.sw*

# cypress
**/cypress/videos/
**/cypress/screenshots/
