<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/flv/flv.min.js"></script>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <img id="muted-icon" src="/images/muted.svg" onclick="toggleMute()">
    <video
      muted
      id="viewer"
      autoplay="true"
      poster="/images/waiting.svg"
      onclick="toggleMute()"
    >
      Your browser does not support the video tag
    </video>
    <script>
      var isStreaming = false;

      var video = document.getElementById('viewer');
      video.muted = true;

      var mutedIcon = document.getElementById('muted-icon');
      mutedIcon.style.display = 'none';

      function toggleMute() {
        if (isStreaming) {
          video.muted = !video.muted;
          mutedIcon.style.display = video.muted ? 'block' : 'none';
        }
      }

      if (flvjs.isSupported()) {
        var flvPlayer = flvjs.createPlayer({
            type: 'flv',
            url: '<%= process.env.STREAM_URL %>'
        });
        flvPlayer.attachMediaElement(video);
        flvPlayer.load();
        flvPlayer.play();
      }

      video.addEventListener('playing', () => {
        isStreaming = true;
        mutedIcon.style.display = 'block';
      });
    </script>
  </body>
</html>
